*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    height: 100px;
    width: 100%;
    background-color: lightgray;
}
#footer{
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    background-color: gray;
}
#logo, #navbar, #login_panel{
    display: inline-block;
}
#navbar a, #login_panel a{
    margin: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#logo{
    width: 50px ;
}
#navbar{
    width: 60% ;
    margin-top: 20px;
    text-align: center;

}
#navbar a{
    padding: 10px;
}
#navbar a:hover{
    background-color: darkgray;
    border-radius: 5px;
}
#login_form{
    width: 300px;
    height: auto;
    border-radius: 15px;
    background-color: lightgray;
    text-align: center;
}
#login_from input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}
#login_from div{
    margin: 10px;
}
#login_panel{
 float: right;
}
.content{
height: 100%;
width: 100%;
}
.product_container{
    
}